


#login 
{
    width: 200px;
    background-color: #e9b505;
    color: #a64ca6;
    border-radius: 20px;
    padding: 15px 0;
    margin-top: 12px;
    font-size: 15px;
    cursor: pointer;
}

img.logo 
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    padding: 5px 50px 30px 50px;
    float:center;
}




fieldset 
{
    width: 240px;
    background-color: #e9b505;
    border-radius: 20px;
}
    




#logininfo 
{
    color: #e9b505;
    font-family: Times, Georgia;
    font-size: 10px;
}





.text
{
    width: 220px;
    height: 20px;
    margin-bottom: 10px;
    border-radius: 10px;
}





#info 
{
    padding: 60px;
}




#login 
{
    width: 200px;
    background-color: #e9b505;
    color: #a64ca6;
    border-radius: 20px;
    padding: 15px 0;
    margin-top: 12px;
    font-size: 15px;
    cursor: pointer;
}




#login:hover 
{
    background-color: #969494;
}

